<div class="row">
  <div class="col-xs-10">
    <hr>
    <ul class="list-group">
      <div
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let item of (itemListState$ | async).data; let i = index"
      >
        {{ item.name }}
        {{ item.quantity }}
      </div>
    </ul>
  </div>
</div>